__pycache__/
*.pyc
*.pyd
*.so
*.egg
*.egg-info/
build/
dist/
venv/
.venv/
.pytest_cache/
.mypy_cache/

.db_data/

.vscode/           
*.sublime-project
*.sublime-workspace
Thumbs.db         

venv/
.venv/
env/
.env/
*/venv/
*/.venv/

*.log
logs/

*.sqlite3
*.db
*.sqlitedb
db_data/ 
.db_data/ 

.env
*.env.local
*.env.*

.coverage
.coverage.*
htmlcov/
.nox/

*.spec
build/
dist/

.pytest.ini
.ipynb_checkpoints

.service-account/
service-account/